<div class='container'>


    <div class="row">
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="/portfolio/add"><img class="card-img-top" src="/img/registrar-img.png" alt=""></a>
          
        </div>
      </div>
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="/portfolio/edit"><img class="card-img-top" src="/img/modificar-img.png" alt=""></a>
          
        </div>
      </div>
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="/admin/modificarcontrato"><img class="card-img-top" src="/img/contrato-img.png" alt=""></a>
          
        </div>
      </div>
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="/admin/notificar"><img class="card-img-top" src="/img/notificar-img.png" alt=""></a>
          
        </div>
      </div>
      
      </div>
      
      
      <!-- Page Content  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->
      
      
    </div>
</div>