<div class="container">

    
    <h1 class="mt-4 mb-3"></h1>

        <!-- Portfolio Item Row -->
    <div class="row">
      
        <div class="col-md-8">
          {{>hed}}
        </div>
        
        <div class="col-md-4">
          
          <a class="btn btn-lg btn-success btn-block" href="https://wa.me/573013477531?text=Hola%20Me%20Interesa%20El%20Siguiente%20Inmueble%3A%0A%0ATitulo%3A{{bien/Titulo}}%20%20%0A%0ADescripci%C3%B3n%3A{{bien/Descripcion}}%20%20%0A%0AId%3A{{bien/_id}}%20%20%20">Contactar</a>
          
          <h3 class="my-3">Descripcion</h3>
          <p>{{bien/Descripcion}}</p>
          
        </div>
        <div class="col">
          <h3 class="my-3">Detalles</h3>
          
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Nombre</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Titulo}}</p>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card h-100 "id="card-item">
                  <h4 class="card-header">Direccion</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Direccion}}</p>
                  </div>
                  
                </div>
              </div>


              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Habitaciones</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Habitaciones}}</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Patio</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Patio}}</p>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Cielo Razo</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Cielo_Razo}}</p>
                  </div>
                  
                </div>
              </div>


              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Ceramica</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Ceramica}}</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100"id="card-item">
                  <h4 class="card-header">Cocina</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Cocina}}</p>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Baños</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Banos}}</p>
                  </div>
                  
                </div>
              </div>


              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Garage</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Garage}}</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Amoblada</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Amoblada}}</p>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Estrato</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Estrato}}</p>
                  </div>
                  
                </div>
              </div>


              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Tipo Planta</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Tipo_Planta}}</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">Tipo Medido Electrico</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/Tipo_Medidor_Electrico}}</p>
                  </div>
                  
                </div>
              </div>

              <div class="col-lg-4 mb-4">
                <div class="card h-100" id="card-item">
                  <h4 class="card-header">ID Interno</h4>
                  <div class="card-body">
                    <p class="card-text">{{bien/_id}}</p>
                  </div>
                  
                </div>
              </div>


              
              </div>
            </div>
          
          
        </div>
      

    </div>
    <div class="col">
      <h3 class="my-4">Puede Ser De Tu Interes</h3>
    </div>
      
  

</div>
{{>hed}}