<body class="bg-gradient-primary">
    <div class="container">                        
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login</h1>
                            </div>


                                            
                            <form action="/users/singin" method="POST">
                                                    
                                <div class="form-group row">
                                    <label class="small mb-1" name="iduser">Cedula</label>
                                    <input class="form-control py-4" name="cedula" type="text" placeholder="Ingrese su Cedula" />
                                </div>
                                <div class="form-group row">
                                    <label class="small mb-1" name="Password">Contraseña</label>
                                    <input class="form-control py-4" name="password" type="password" placeholder="Ingrese la Contraseña" />
                                </div>
                                                    
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button  class="btn btn-primary btn-block">
                                        Login 
                                    </button>
                                </div>
                                
                                            
                            </form>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
                    
            
        

</body>
