<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              
                

                    

                    

                    

                
                <div class="container-fluid">

                    
                    
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titulo</th>
                                            <th>Direccion</th>
                                            <th>Modificar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titulo</th>
                                            <th>Direccion</th>
                                            <th>Modificar</th>
                                            <th>Eliminar</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each bien}}
                                            <tr>
                                                <td>{{id}}</td>
                                                <td>{{Titulo}}</td>
                                                <td>{{Direccion}}</td>
                                                <td>
                                                    <form action="/portfolio/edit/{{_id}}" method="GET">
                                                    
                                                        <button type="submit" class="btn btn-warning">
                                                            Modificar
                                                        </button>
                                                
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="/portfolio/delete/{{_id}}?_method=DELETE" method="POST">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button type="submit" class="btn btn-danger">
                                                            Eliminar
                                                        </button>
                                                
                                                    </form>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    

                </div>
                

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
  
    

    
</body>