<body class="bg-primary">
        <div >
            <div >
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Modificar Inmueble</h3></div>
                                    <div class="card-body">
                                        
                                        <form action="/portfolio/postedit/{{bien/_id}}?_method=PUT" method="POST">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1">Titulo</label>
                                                        <input class="form-control py-4" value="{{bien/Titulo}}" name="Titulo" type="text"  />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Descripcion</label>
                                                        <input class="form-control py-4" name="Descripcion" type="text" value="{{bien/Descripcion}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1">Direccion</label>
                                                        <input class="form-control py-4" name="Direccion" type="text" value="{{bien/Direccion}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Habitaciones</label>
                                                        <input class="form-control py-4" name="Habitaciones" type="text" value="{{bien/Habitaciones}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Patio</label>
                                                        <input class="form-control py-4" name="Patio" type="text" value="{{bien/Patio}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Cielo Razo</label>
                                                        <input class="form-control py-4" name="Cielo_Razo" type="text" value="{{bien/Cielo_Razo}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Ceramica</label>
                                                        <input class="form-control py-4" name="Ceramica" type="text" value="{{bien/Ceramica}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Cocinas</label>
                                                        <input class="form-control py-4" name="Cocinas" type="text" value="{{bien/Cocinas}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Banos</label>
                                                        <input class="form-control py-4" name="Banos" type="text" value="{{bien/Banos}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Garage</label>
                                                        <input class="form-control py-4" name="Garage" type="text" value="{{bien/Garage}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Amoblada</label>
                                                        <input class="form-control py-4" name="Amoblada" type="text" value="{{bien/Amoblada}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Estrato</label>
                                                        <input class="form-control py-4" name="Estrato" type="text" value="{{bien/Estrato}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Tipo Planta</label>
                                                        <input class="form-control py-4" name="Tipo_Planta" type="text" value="{{bien/Tipo_Planta}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Tipo de Medidor Electrico</label>
                                                        <input class="form-control py-4" name="Tipo_Medidor_Electrico" type="text" value="{{bien/Tipo_Medidor_Electrico}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0">


                                                
                                                
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-primary btn-block" >Modificar</a></div>
                                        </form>
                                        
                                    </div>
                                    
                                </div>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
       
    </body>