<body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Notificar</h3></div>
                                    <div class="card-body">
                                        <form class="col">
                                            <div class="form-col">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">Numero de WhatsApp del Arrendatario</label>
                                                        <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Ingrese Numero de WhatsApp" />
                                                    </div>
                                                </div>

                                                <div class="col justify-content-center">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                            <label class="custom-control-label" for="rememberPasswordCheck">Mora</label>
                                                        </div>
                                                    
                                                        
                                                        
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                                


                                                
                                                
                                            </div>
                                            
                                            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="/message">Notificar</a></div>
                                        </form>
                                    </div>
                                    
                                </div>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
        
    </body>