<div class="container">
    <h1></h1>
    {{#each bien}}
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{Titulo}}</h3>
          <p>{{Descripcion}}</p>
          <form action="/portfolio/item/{{_id}}" method="GET">
                                                    
            <button type="submit" class="btn btn-primary">
              Ver Mas
            </button>
                                                
          </form>
            
        </div> 
          
          
          
                    
      </div>
      <hr>
    {{/each}}
</div>
    

    