<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">                
                <div class="row justify-content-center">
                    
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear Usuario!</h1>
                            </div>
                            <form action="/users/singup" method="POST">
                                
                                <div class="form-group">
                                    <input type="text" name="cedula" class="form-control form-control-user" 
                                        placeholder="Cedula">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password" placeholder="Password">         
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            name="repeatpassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            name="idinmueble" placeholder="ID Inmueble">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            name="repeatidinmueble" placeholder="Repeat ID Inmueble">
                                    </div>
                                </div>
                                    <button  class="btn btn-primary btn-block">
                                        Registrar 
                                    </button>
                                <hr>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

</body>