
body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
  
}

html, body{
  height: 100%;
}
#footer{
  height: 60px;
}
#layoutAuthentication{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;

}


