
{{#each msg}}
<div>
    <div class="alert alert-sucess" role="alert" >
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span>x</span>
        </button>
    </div>

    
    

</div>
{{/each}}